@model IEnumerable<DAO.Lop>

@{
    ViewBag.Title = "Lớp";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Lớp</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
           Hệ đào tạo
        </th>
        <th>
            Tên khoa
        </th>
        <th>
           Tên lớp
        </th>
        <th>
           Niên khóa
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HeDaoTao.TenHDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Khoa.TenKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NienKhoa)
        </td>
    </tr>
}
</table>
