@model DAO.Lop

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa lớp</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Lớp</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaLop)

        <div class="form-group">
            @Html.LabelFor(model => model.TenLop, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenLop, new { htmlAttributes = new { @class = "form-control tenlop", @required = "true" } })
                @Html.ValidationMessageFor(model => model.TenLop, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NienKhoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NienKhoa, new { htmlAttributes = new { @class = "form-control nienkhoa", @required = "true" } })
                @Html.ValidationMessageFor(model => model.NienKhoa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaKhoa, "MaKhoa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                 
                @Html.DropDownList("MaKhoa",ViewBag.Khoa as List<SelectListItem> ,"TenKhoa", htmlAttributes: new { @class = "form-control", @readonly = "true"})
                @Html.ValidationMessageFor(model => model.MaKhoa, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="save" type="button" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function () {
        $('#save').click(function () {
            var flag = confirm('Bạn có chắc chắn lưu thông tin đã sửa ?');
            if (flag) {
                var maLop = $('.malop').val();
                var tenLop = $('.tenlop').val();
                var nienKhoa = $('.nienkhoa').val();
                var maKhoa = $('.makhoa option:selected').val();
                var khoa = {
                    MaLop: maLop,
                    TenLop: tenLop,
                    NienKhoa: nienKhoa,
                    MaKhoa : maKhoa
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Edit","Lop")',
                    data: JSON.stringify(khoa),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8'
                }).done(function (data) {
                    alert(data.msg);
                }).fail(function (data) {
                    alert(data.msg);
                })
            }
            return false;
        });
    });
</script>