@model IEnumerable<DAO.Lop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách các lớp</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NienKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Khoa.TenKhoa)
        </th>
        <th>
            Hành động
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NienKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaKhoa)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { maLop = item.MaLop }, null)|
            <a data-delete='@item.MaLop' onclick="deleteLop(this)" >Xóa</a>
        </td>
    </tr>
}

</table>

<script>
    function deleteLop(lop) {
        var ml = {
            maLop: $(lop).attr('data-delete')
        };
        if (ml != null && ml != "") {
            var flag = confirm('Bạn có chắc chắn xóa lớp ?');
            if (flag) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Lop")',
                    data: JSON.stringify(ml),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8'
                }).done(function (data) {
                    alert(data.msg);
                }).fail(function (data) {
                    alert(data.msg);
                });
            }
            location.reload();
            return false;
        };
    }
</script>
