@model IEnumerable<DAO.SinhVien>

@{
    ViewBag.Title = "Danh sách sinh viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách sinh viên</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
           Họ và tên lót
        </th>
        <th>
            Tên
        </th>
        <th>
            Giới tính
        </th>
        <th>
           Ngày sinh
        </th>
        <th>
            Email
        </th>
        <th>
            Mã lớp
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoVaTenLot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaLop)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSV })
        </td>
    </tr>
}

</table>
