@model IEnumerable<DAO.DiemDanh>

@{
    ViewBag.Title = "Danh sách điểm danh";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách điểm danh</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ngay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LopTinChi.NienKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.HoVaTenLot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ngay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LopTinChi.NienKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.HoVaTenLot)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaPhieuDD }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaPhieuDD }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaPhieuDD })
        </td>
    </tr>
}

</table>
