@model DAO.ThoiKhoaBieu

@{
    ViewBag.Title = "Tạo mới";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Areas/Admin/Content/ThoiKhoaBieu/jquerysctipttop.css" rel="stylesheet" />
<script src="~/Areas/Admin/Script/ThoiKhoaBieu/moment.js"></script>
<style>
    .content-tkb {
        border-right-width: 1px;
        padding-right: 50px;
    }

    .success {
        width: 160px;
    }

    .fyc-calendar .col-sm-6 {
        height: 350px !important;
        width: 354px;
    }

    .calender-giangien {
        font-weight: bold;
        margin-bottom: -25px;
    }

    .fyc-calendar {
        border: 1px solid;
    }

    .btn-sm-tkb {
        background-color: darkseagreen;
    }

    .drop-down {
        margin-left: 25px;
        width: 85%;
    }

    .label-fillter {
        width: max-content;
    }

    button, html input[type=button], input[type=reset], input[type=submit] {
        margin-top: 28px !important;
    }
</style>

<h2>Tạo mới thời khóa biểu</h2>

@using (Html.BeginForm())
{
    var buoi = new List<SelectListItem>()
    {
        new SelectListItem() { Text = "Buổi sáng", Value = "Sáng" }  ,
        new SelectListItem() { Text = "Buổi Chiều", Value = "Chiều" }
    };
    var dt = DateTime.UtcNow;
    var lstnienkhoa = new List<SelectListItem>();
    for (int i = 0; i <= 1; i++)
    {
        string nk = (dt.Year + i).ToString() + "-" + (dt.Year + i + 1).ToString();
        SelectListItem nienKhoa = new SelectListItem()
        {
            Text = nk,
            Value = nk
        };
        lstnienkhoa.Add(nienKhoa);
    }
    var lstHocKy = new List<SelectListItem>()
                {
                  new SelectListItem() { Text = "1",Value="1"},
                  new SelectListItem() {Text = "2",Value="2" } ,
                  new SelectListItem() {Text = "3",Value="3" }
                };

    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-group" style="display:inline-flex">
            <div class="row">
                <label class="control-label label-fillter col-md-2" for="email">Lọc lớp tín chỉ theo niên khóa:</label>
                @Html.DropDownList("NienKhoa", lstnienkhoa, htmlAttributes: new { @class = "form-control drop-down col-md-8 nienkhoa", @onchange = "LocNienKhoa()" })
            </div>
            <div class="row">
                <label class="control-label label-fillter col-md-2" for="email">Lọc lớp tín chỉ theo học kỳ :</label>
                @Html.DropDownList("HocKy", lstHocKy, htmlAttributes: new { @class = "form-control drop-down col-md-8 hocky", @onchange = "LocNienKhoaHocKy()" })
            </div>
            <div class="row">
                <label class="control-label label-fillter col-md-2" for="email">Lọc lớp tín chỉ theo giảng viên:</label>
                @Html.DropDownList("MaGV", (IEnumerable<SelectListItem>)ViewBag.GiangVienModel, htmlAttributes: new { @class = "form-control drop-down col-md-8 ma-gv" })
            </div>
            <div class="row">
                <label class="control-label label-fillter col-md-2" for="email">Lọc lớp tín chỉ theo môn học:</label>
                @Html.DropDownList("MaMH", (IEnumerable<SelectListItem>)ViewBag.MonHocModels, htmlAttributes: new { @class = "form-control drop-down col-md-8 ma-mh" })
            </div>
            <div class="row">
                <input id="fillter" class="col .btn-fillter" type="button" value="Lọc lớp tín chỉ" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 content-tkb">
                <div class="row">
                    <h4>Thêm thời khóa biểu</h4>
                </div>
                <div class="row">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Buoi,"Buổi", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("Buoi", buoi, htmlAttributes: new { @class = "form-control buoi", @onchange = "GetBuoi()" })
                                @Html.ValidationMessageFor(model => model.Buoi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TietBD, "Tiết bắt đầu", htmlAttributes: new { @class = "control -label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.TietBD, htmlAttributes: new { @class = "form-control tiet-bd", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.TietBD, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MaLopTC, "Mã lớp tín chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("MaLopTC", ViewBag.LopTCDuocMo as List<SelectListItem>, htmlAttributes: new { @class = "form-control malopTC", @onclick = "getThongTinLop()", @id = "list-malop" })
                                @Html.ValidationMessageFor(model => model.MaLopTC, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Ngay, "Ngày bắt đầu học", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="height:130px;">
                                <div class='input-group date' id='datetimepicker11'>
                                    <input id="ngay-select" name="Ngay" type='text' class="form-control ngay-select" onchange="KiemTraNgay()" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Thêm" class="btn btn-default form-control btn-sm-tkb" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <h4>Chi tiết lớp</h4>
                </div>
                <div class="row">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="success">Mã lớp tín chỉ: </td>
                                <td id="maloptc"></td>
                            </tr>
                            <tr>
                                <td class="success">Tên môn học :</td>
                                <td id="tenmh"></td>
                            </tr>
                            <tr>
                                <td class="success">Mã giảng viên : </td>
                                <td id="magiangvien"></td>
                            </tr>
                            <tr>
                                <td class="success">Giảng viên giảng dạy: </td>
                                <td id="giangvien"> </td>
                            </tr>
                            <tr>
                                <td class="success">Số tín chỉ : </td>
                                <td id="sotinchi"></td>
                            </tr>
                            <tr>
                                <td class="success">Học kỳ :</td>
                                <td id="hocky"></td>
                            </tr>
                            <tr>
                                <td class="success">Trạng thái :</td>
                                <td id="trangthai"></td>
                            </tr>
                            <tr>
                                <td class="success">Niên khóa : </td>
                                <td id="nienkhoa"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row note-giangvien">
            <div class="row">
                <h4 class="calender-giangien"></h4>
            </div>
            <div class="row note-calendar">
                <div class="col-md-4" style="text-align:right;">
                    Chú giải :
                </div>
                <div class="col-md-8">
                    <h5> Màu xanh dương  : giảng viên đã có lịch buổi sáng còn trống buổi chiều</h5>
                    <h5> Màu xanh lá cây : giảng viên đã có lịch buổi chiều còn trống buổi sáng</h5>
                    <h5> Màu cam đậm     : giảng viên đã kín lịch</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Calendar-->
            <div id="full-year-calendar"></div>
        </div>
    </div>
}

<div class="panel-footer">
    @Html.ActionLink("Quay lại", "Index")
</div>
<script>
    function getThongTinLop() {
        var maLTC = $('.malopTC').val();
        var ltc = {
            maLopTC: maLTC
        };
        $('#maloptc').html('');
        $('#trangthai').html('');
        $('#nienkhoa').html('');
        $('#magiangvien').html('');
        $('#tenmh').html('');
        $('#giangvien').html('');
        $('#sotinchi').html('');
        $('.calender-giangien').html('');
        $('#hocky').html('');
        //lấy thông tin lớp tín chỉ
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetLopTC", "ThoiKhoaBieux")',
            data: JSON.stringify(ltc),
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        }).done(function (data) {
            var listData = data.LTC;
            $('#maloptc').append(parseInt(listData.MaLopTC));
            if (listData.TrangThai === true) {
                $('#trangthai').append('Mở');
            }
            else {
                $('#trangthai').append('Đóng');
            }
            $('#nienkhoa').append(listData.NienKhoa);
            $('#magiangvien').append(listData.MaGV);
            $('#tenmh').append(listData.MonHoc.TenMH);
            $('#giangvien').append(listData.GiangVien.TenDayDu);
            $('#sotinchi').append(listData.MonHoc.TongSoTinChi);
            $('.calender-giangien').append("Lịch của giảng viên : " + listData.GiangVien.TenDayDu);
            $('#hocky').append(listData.HocKy);
            var maGV = {
                maGiangVien: listData.MaGV
            };
            $('.note-giangvien').hide();
            $('.notif-giangvien').html('');
            $('.notif-giangvien').hide();
            $('#full-year-calendar').html('');
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetThoiKhoaBieuGiangVien", "ThoiKhoaBieux")',
                data: JSON.stringify(maGV),
                dataType: "json",
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                if (data === "Giảng viên trống lịch trong thời gian tới !") {
                    $('.notif-giangvien').show();
                    $('.note-calendar').show();
                    $('.notif-giangvien').append(data);
                    return false;
                }
                $('.note-giangvien').show();
                var lstLich = data.lich;
                var listNgayBuoiSang = [];
                var listNgayBuoiChieu = [];
                var listNgayFull = [];
                for (var i = 0 ; i < lstLich.length; i++) {
                    var ngay = lstLich[i].NgayString;
                    if (lstLich[i].TietBD === 1) {
                        listNgayBuoiSang.push(ngay);
                    }
                    else {
                        listNgayBuoiChieu.push(ngay);
                    }
                }

                for (var i = 0; i < listNgayBuoiSang.length; i++) {
                    for (var j = 0; j < listNgayBuoiChieu.length; j++) {
                        if (listNgayBuoiChieu[j] == listNgayBuoiSang[i]) {
                            listNgayFull.push(listNgayBuoiChieu[j]);
                        }
                    }
                }
                for (var i = 0; i < listNgayFull.length; i++) {
                    for (var j = 0; j < listNgayBuoiSang.length; j++) {
                        if (listNgayBuoiSang[j] == listNgayFull[i]) {

                            listNgayBuoiSang = removeArray(listNgayBuoiSang, listNgayBuoiSang[j]);

                        }
                    }
                    for (var j = 0; j < listNgayBuoiChieu.length; j++) {
                        if (listNgayBuoiChieu[j] == listNgayFull[i]) {

                            listNgayBuoiChieu = removeArray(listNgayBuoiChieu, listNgayBuoiChieu[j]);
                        }
                    }
                }
                var fyc = $('#full-year-calendar').fullYearCalendar({
                    weekDaysHolidays: [0],
                    publicHolidays: listNgayFull,
                    niwds: listNgayBuoiSang,
                    halfDays: listNgayBuoiChieu,
                    noSchools: []
                });
                //fyc.addHoliday({ type: 'niwds', from: '2018-05-05' });
            }).fail(function () {
                alert("Kết nối server lỗi !");
            });

        }).fail(function () {
            alert("Kết nối server lỗi !");
        });
        // Lấy thòi khóa biểu của giảng viên
        return false;
    }
</script>
<script src="~/Areas/Admin/Script/ThoiKhoaBieu/bootstrap-datetimepicker.min.js"></script>
<script src="~/Areas/Admin/Script/ThoiKhoaBieu/full-year-calendar.js"></script>
<style>
    .fyc-calendar {
        margin: 40px 0;
    }

        .fyc-calendar .col-sm-6 {
            height: 450px;
        }

    .fyc-calendar-table {
        width: 80%;
        height: 300px;
        margin: 20px auto;
    }

        .fyc-calendar-table thead > tr:first-child > th {
            padding: 20px 0;
            background-color: #d7d7d7;
            color: #000;
            font-weight: bold;
            font-size: 18px;
        }

        .fyc-calendar-table thead > tr > th {
            background-color: #f5f5f5;
            color: #000;
        }

        .fyc-calendar-table tbody > tr > td {
            border: 1px solid #555;
        }

    .fyc-holiday {
        background-color: #fff568;
    }

    .fyc-public-holiday {
        background-color: #ff931e;
    }

    .fyc-niwd-holiday {
        background-color: #25c4d4;
    }

    .fyc-halfDay-holiday {
        background-color: #8ee153;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimepicker11').datetimepicker({
            daysOfWeekDisabled: [0],
            format: 'YYYY-MM-DD'
        });
        $('#datetimepicker11').on('dp.change', function (e) {

            var hocky = $('#hocky').text();
            var ngayFormat = $('.ngay-select').val();
            var nam = parseInt(ngayFormat.split('-')[0]);
            var thang = parseInt(ngayFormat.split('-')[1]);
            var ngay = parseInt(ngayFormat.split('-')[2]);
            var dtNow = new Date();
            if (nam < dtNow.getFullYear()) {
                alert('Thời gian phải lớn hơn thời gian hiện tại !');
                resetDatePicker();
                return;
            }
            if (nam == dtNow.getFullYear()) {
                if (hocky == 1) {
                    if (thang < 9) {
                        alert('Lớp học mở trong học kỳ 1 nên thời gian phải từ 1/9 đến 31/12 !');
                        resetDatePicker();
                        return;
                    }
                }
                if (hocky == 2) {
                    if (thang > 6) {
                        alert('Lớp học mở trong học kỳ 2 nên thời gian phải từ 31/1 đến 31/5 !');
                        resetDatePicker();
                        return;
                    }
                }
                if (hocky == 3) {
                    if (thang < 6 || thang > 8) {
                        alert('Lớp học mở trong học kỳ 2 nên thời gian phải từ 1/6 đến 30/8 !');
                        resetDatePicker();
                        return;
                    }
                }
                if (thang < dtNow.getMonth()) {
                    alert('Tháng phải lớn hơn tháng gian hiện tại !');
                    resetDatePicker();
                    return;
                }
                if (thang == dtNow.getMonth() && ngay < dtNow.getDate()) {
                    alert('Ngày phải lớn hơn ngày hiện tại !');
                    resetDatePicker();
                    return;
                }
            }
            if (ngayFormat === null) return;
            var maGV = {
                maGiangVien: $('#magiangvien').text()
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetThoiKhoaBieuGiangVien", "ThoiKhoaBieux")',
                data: JSON.stringify(maGV),
                dataType: "json",
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                if (data === "Giảng viên trống lịch trong thời gian tới !") {
                    $('.note-calendar').show();
                    $('.notif-giangvien').show();
                    $('.notif-giangvien').append(data);
                    return false;
                }
                $('.note-giangvien').show();
                var lstLich = data.lich;
                var listNgayBuoiSang = [];
                var listNgayBuoiChieu = [];
                var listNgayFull = [];
                for (var i = 0 ; i < lstLich.length; i++) {
                    var ngay = lstLich[i].NgayString;
                    if (lstLich[i].TietBD === 1) {
                        listNgayBuoiSang.push(ngay);
                    }
                    else {
                        listNgayBuoiChieu.push(ngay);
                    }
                }

                for (var i = 0; i < listNgayBuoiSang.length; i++) {
                    for (var j = 0; j < listNgayBuoiChieu.length; j++) {
                        if (listNgayBuoiChieu[i] == listNgayBuoiSang[j]) {
                            listNgayFull.push(listNgayBuoiChieu[i]);
                            listNgayBuoiSang = removeArray(listNgayBuoiSang, listNgayBuoiSang[i]);
                            listNgayBuoiChieu = removeArray(listNgayBuoiChieu, listNgayBuoiChieu[j]);
                        }
                    }
                }
                var fyc = $('#full-year-calendar').fullYearCalendar({
                    weekDaysHolidays: [0],
                    publicHolidays: listNgayFull,
                    niwds: listNgayBuoiSang,
                    halfDays: listNgayBuoiChieu,
                    noSchools: [],
                });
                for (var i = 0 ; i < listNgayFull.length; i++) {
                    if (listNgayFull[i] === ngayFormat) {
                        alert('Giảng viên đã kín lịch vào ngày này!');
                        return;
                    }
                }
                var tietBD = $('.tiet-bd').val();
                if (tietBD == 1) {
                    for (var i = 0 ; i < listNgayBuoiSang.length; i++) {
                        if (listNgayBuoiSang[i] === ngayFormat) {
                            alert('Giảng viên đã dạy vào ngày này buổi sáng!');
                            return;
                        }
                    }
                }
                for (var i = 0 ; i < listNgayBuoiChieu.length; i++) {
                    if (listNgayBuoiChieu[i] === ngayFormat) {
                        alert('Giảng viên đã có lịch dạy vào ngày này buổi chiều!');
                        return;
                    }
                }
                //fyc.addHoliday({ type: 'niwds', from: '2018-05-05' });
            }).fail(function () {
                alert("Kết nối server lỗi !");
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.tiet-bd').val(1);
        var listItem = $('.malopTC').text();
        var dem = listItem.split(' ').length;
        $('.malopTC').val(listItem[dem - 1]);
        $('.malopTC').val(listItem[0]);
    })
</script>

<script>
    function resetDatePicker() {
        $('#datetimepicker11').data('DateTimePicker').clear();
        $('#ngay-select').val(new Date());
    }

    function removeArray(arr, item) {
        var index = arr.indexOf(item);
        if (index !== -1) arr.splice(index, 1);
        return arr;
    }
    function GetBuoi() {
        var buoi = $('.buoi').val();
        if (buoi === "Sáng") {
            $('.tiet-bd').val(1);
            return;
        }
        $('.tiet-bd').val(5);
    }

    $(document).ready(function () {
        $('#fillter').click(function () {
            var magiangvien = $('.ma-gv').val();
            var mamonhoc = $('.ma-mh').val();

            var dt = {
                maGiangVien: magiangvien,
                maMonHoc: mamonhoc,
                nienKhoa: $(".nienkhoa").val(),
                hocky: $(".hocky").val()
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetListLopTheoGiangVienMonHoc", "ThoiKhoaBieux")',
                data: JSON.stringify(dt),
                dataType: "json",
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                if (data.msg === "Không có lớp tín chỉ nào!" || data.msg === "Lỗi !") {
                    alert(data.msg);
                    return;
                }
                $('#list-malop').empty();
                for (var i = 0 ; i < data.msg.length; i++) {
                    var defaultSelected = false;
                    var nowSelected = true;
                    $('#list-malop').append(new Option(data.msg[i], data.msg[i], defaultSelected, nowSelected));
                }
            });

            return false;
        });
    });

</script>
