@model IEnumerable<DAO.ThoiKhoaBieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thời khóa biểu</h2>

<p>
    @Html.ActionLink("Tạo thời khóa biểu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Niên khóa</label>
        </th>
        <th>
            <label>Ngày</label>
        </th>

        <th>
            <label>Buổi</label>
        </th>

        <th>
            <label>Tiết bắt đầu</label>
        </th>
        <th>
            <label>Mã lớp tín chỉ</label>
        </th>
        <th>
            <label>Mã giảng viên</label>
        </th>
        <th>
            <label>Giảng viên giảng dạy</label>
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LopTinChi.NienKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Buoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TietBD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLopTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LopTinChi.MaGV)
            </td>
            <td>
                @{
                    var tenGV = item.LopTinChi.GiangVien.HoVaTenLot + " " + item.LopTinChi.GiangVien.TenGV;
                }
                <label>@tenGV</label>
            </td>
        </tr>
                    }
</table>
