@model DAO.LopTinChi

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới</h2>

@using (Html.BeginForm())
{
    var HocKy = new List<SelectListItem>()
    {
        new SelectListItem() { Text = "1", Value = "1" },
        new SelectListItem() { Text = "2", Value = "2" },
        new SelectListItem() { Text = "3", Value = "3" }
    };
    var trangThai = new List<SelectListItem>()
    { 
        new SelectListItem() { Text = "Mở", Value = "true" }  ,
        new SelectListItem() { Text = "Đóng", Value = "false" } 
    };
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Lớp tín chỉ</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.HocKy, htmlAttributes: new { @class = "control-label col-md-2  " })
            <div class="col-md-10">
                @Html.DropDownList("HocKy", HocKy, new { @class = "form-control hocky", @onchange = "getMaNhom()" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Nhom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nhom, new { htmlAttributes = new {@id="manhom", @class = "form-control", @readonly = true} })
                @Html.ValidationMessageFor(model => model.Nhom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NienKhoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NienKhoa", ViewBag.NienKhoa as List<SelectListItem>, htmlAttributes: new { @class = "form-control nienkhoa", @onchange = "getMaNhom()" })
                @Html.ValidationMessageFor(model => model.NienKhoa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaMonHoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaMonHoc", null, htmlAttributes: new { @class = "form-control mamonhoc", @onchange = "getMaNhom()" })
                @Html.ValidationMessageFor(model => model.MaMonHoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaGV,"Giảng viên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaGV", null, htmlAttributes: new { @class = "form-control magiangvien", @onchange = "getMaNhom()" })
                @Html.ValidationMessageFor(model => model.MaGV, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TrangThai", trangThai, htmlAttributes: new { @class = "form-control trangthai" })
                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

<script>
    function getMaNhom() {
        var hk = $('.hocky').val();
        var mamonhoc = $('.mamonhoc').val();
        var nk = $('.nienkhoa').val();
        var magiangvien = $('.magiangvien').val();
        if (hk === null || mamonhoc === null || nk === null || magiangvien === null) {
            return;
        }

        var dt = {
            maMonHoc: mamonhoc,
            nienKhoa: nk,
            maGiangVien: magiangvien,
            hocKy: hk
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetMaNhom", "LopTinChis")',
            data: JSON.stringify(dt),
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        }).done(function (dt) {
                $('#manhom').val(parseInt(dt.maNhom));
        }).fail(function () {
            alert("Lỗi!");
        })
        return false;
    }
</script>