@model DAO.LopTinChi

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn chắc chắn muốn xóa lớp tín chỉ này ?</h3>
<div>
    <h4>Thông tin lớp tín chỉ :</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HocKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NienKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoa)
        </dd>

        <dd>
            <dt>Giảng viên</dt>
        </dd>
        <dd>
            @Model.GiangVien.HoVaTenLot @Model.GiangVien.TenGV
        </dd>
        <dd>
            <dt>Mã môn học</dt>
        </dd>
        <dd>
            @Model.MonHoc.MaMH
        </dd>
        <dd>
            <dt>Tên môn học</dt>
        </dd>
        <dd>
            @Model.MonHoc.TenMH 
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
