@model DAO.LopTinChi

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn chắc chắn muốn xóa lớp tín chỉ này ?</h3>
<div>
    <h4>Thông tin lớp tín chỉ :</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Học kỳ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoaHocKy.HocKy)
        </dd>

        <dt>
            Nhóm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhom)
        </dd>

        <dt>
            Niên khóa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoaHocKy.NienKhoa)
        </dd>

        <dt>
            Giảng viên
        </dt>
        <dd>
            @Model.GiangVien.HoVaTenLot @Model.GiangVien.TenGV
        </dd>

        <dt>
            Mã môn học
        </dt>
        <dd>
            @Model.MonHoc.MaMH
        </dd>

        <dt>
            Tên môn học
        </dt>

        <dd>
            @Model.MonHoc.TenMH
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
