@model DAO.LopTinChi

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Lớp tín chỉ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Niên khóa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoaHocKy.NienKhoa)
        </dd>
        <dt>
            Học kỳ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NienKhoaHocKy.HocKy)
        </dd>

        <dt>
            Nhóm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhom)
        </dd>

        <dt>
            Giảng viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiangVien.HoVaTenLot) @Html.DisplayFor(model => model.GiangVien.TenGV)
        </dd>

        <dt>
            Tên môn học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMH)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaLopTC }) |
    @Html.ActionLink("Quay lại  ", "Index")
</p>
