@model DAO.LopTinChi

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm())
{
   
    var trangThai = new List<SelectListItem>()
    {
        new SelectListItem() { Text = "Mở", Value = "true" },
        new SelectListItem() { Text = "Đóng", Value = "false" },
    };
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Lớp tín chỉ</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaLopTC)
        <!---mã Niên khóa-->
        <div class="form-group">
            @Html.LabelFor(model => model.NienKhoa, "ID niên khóa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NienKhoa, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
        </div>

        <!---Niên khóa-->
        <div class="form-group">
            @Html.LabelFor(model => model.NienKhoaHocKy.NienKhoa, "Niên khóa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NienKhoaHocKy.NienKhoa, new { htmlAttributes = new {  @class = "form-control nienkhoa", @readonly = true } })
            </div>
        </div>

        <!--Học kỳ-->
        <div class="form-group">
            <label class = "control-label col-md-2">Học kỳ</label>
            <div class="col-md-10">
                @Html.EditorFor(model=> model.NienKhoaHocKy.HocKy, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
        </div>

        <!--Nhóm-->
        <div class="form-group">
            <label class="control-label col-md-2">Nhóm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nhom, new { htmlAttributes = new {@id= "manhom", @class = "form-control", @readonly = true } })     
            </div>
        </div>

        <!--Mã môn học-->
        <div class="form-group">
            @Html.LabelFor(model => model.MaMonHoc,"Mã môn học", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.EditorFor(model => model.MaMonHoc, new { htmlAttributes = new {  @class = "form-control mamonhoc", @readonly = true } })
            </div>
        </div>

        <!--Tên môn học-->
        <div class="form-group">
            @Html.LabelFor(model => model.MonHoc.TenMH, "Tên môn học", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MonHoc.TenMH, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
            </div>
        </div>

        <!--Giảng viên-->
        <div class="form-group">
            @Html.LabelFor(model => model.MaGV,"Giảng viên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaGV",null, htmlAttributes: new { @class = "form-control magiangvien", @onchange = "getMaNhom()" })
                @Html.ValidationMessageFor(model => model.MaGV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TrangThai", trangThai, htmlAttributes: new { @class = "form-control trangthai" })
                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
<script>
    function getMaNhom() {
        var hk = $('#NienKhoaHocKy_HocKy').val();
        var mamonhoc = $('.mamonhoc').val();
        var nk = $('.nienkhoa').val();
        var magiangvien = $('.magiangvien').val();
        if (hk === null || mamonhoc === null || nk === null || magiangvien === null) {
            return;
        }

        var dt = {
            maMonHoc: mamonhoc,
            nienKhoa: nk,
            maGiangVien: magiangvien,
            hocKy: hk
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetMaNhom", "LopTinChis")',
            data: JSON.stringify(dt),
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        }).done(function (dt) {
                $('#manhom').val(parseInt(dt.maNhom));
        }).fail(function () {
            alert("Lỗi!");
        })
        return false;
    }
</script>