@model IEnumerable<DAO.LopTinChi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HocKy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NienKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiangVien.HoVaTenLot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonHoc.TenMH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HocKy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nhom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NienKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiangVien.HoVaTenLot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonHoc.TenMH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLopTC }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLopTC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLopTC })
        </td>
    </tr>
}

</table>
