@model List<DAO.Khoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Khoa</h2>
<div class="row" style="text-align: right">
    <button type="button" class="btn btn-success btn-insert" onclick="location.href='@Url.Action("Create", "Khoa")'">Thêm</button>
</div>
<br>
<div>
    <table class="table">
        <tr>
            <th>Mã khoa</th>
            <th>Tên khoa</th>
            <th>Hành động</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.MaKhoa)
                </td>
                <td>
                    @Html.DisplayFor(model => item.TenKhoa)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", "Khoa", new { maKhoa = item.MaKhoa }, null)
                </td>
                <td>
                    <a data-delete='@item.MaKhoa' onclick="deleteKhoa(this)">Xóa</a>
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Quay lại", "Index")
</p>

<script>
    function deleteKhoa(khoa) {
        var mk = {
            maKhoa: $(khoa).attr('data-delete')
        };
        if (mk != null && mk != "") {
            var flag = confirm('Bạn có chắc chắn xóa khoa ?');
            if (flag) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Khoa")',
                    data: JSON.stringify(mk),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8'
                }).done(function (data) {
                    alert(data.msg);
                }).fail(function (data) {
                    alert(data.msg);
                });
            }
            location.reload();
            return false;
        };
    }
</script>