<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quản Lý Đào Tạo - Học viện Bưu Chính Viễn Thông</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style>
        body {
            padding-top: 0;
        }

        .nav-menu {                                      
            margin-left: 330px !important;
        }

        .nav-option {
            margin-left: 11%;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse narbar-top">
        <div class="container menu-nav-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse nav-menu">
                <ul class="nav navbar-nav nav-custom nav-option">
                    <li>@Html.ActionLink("Học viện công nghệ bưu chính viễn thông", "Index", "Home")</li>
                    <li class="dang-ky">@Html.ActionLink("Đăng ký môn học", "DangKyMonHoc", "SinhVien")</li>
                    <li class="thoi-khoa-bieu">@Html.ActionLink("Thời khóa biểu", "Index", "SinhVien")</li>
                    <li class="hoc-phi">@Html.ActionLink("Xem học phí", "Index", "Home")</li>
                    <li class="lich-giang">@Html.ActionLink("Xem lịch giảng", "Index", "GiangVien")</li>
                    <li id="dangnhap">@Html.ActionLink("Đăng nhập", "Index", "DangNhap")</li>
                    <li><a class="sinhvien">@Session["SinhVien"]</a></li>
                    <li><a class="giangvien">@Session["GiangVien"]</a></li>
                    <li><a id="dx" href='@Url.Action("DangXuat","DangNhap")'>Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr class="hr-ft" />
        <footer>
            <section id="tabs">
                <div class="container" style="color:indigo">
                    <h6 class="section-title h1" style="color:indigo">Học viện công nghệ bưu chính viễn thông</h6>
                    <div>Trụ sở chính : 122 Hoàng Quốc Việt, Q.Cầu Giấy, Hà Nội.</div>
                    <div>Cơ sở tại TP.Hồ Chí Minh: 11 Nguyễn Đình Chiểu, P. Đa Kao, Q.1 TP Hồ Chí Minh</div>
                    <div>Cơ sở đào tạo tại TP.Hồ Chí Minh: Đường Man Thiện, P. Hiệp Phú, Q.9 TP Hồ Chí Minh</div>
                </div>
            </section>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            var sinhvien = $('.sinhvien').text();
            var giangvien = $('.giangvien').text();

            if (sinhvien != "" && giangvien == "") {
                $('.giangvien').css("display", "none")
                $('#dangnhap').css("display", "none");
                $('.lich-giang').css("display", "none");
            }
            if (sinhvien == "" && giangvien != "") {
                $('.sinhvien').css("display", "none");
                $('#dangnhap').css("display", "none");
                $('.dang-ky').css("display", "none");
                $('.thoi-khoa-bieu').css("display", "none");
                $('.hoc-phi').css("display", "none");
            }
            if (sinhvien == "" && giangvien == "") {
                $('#dx').css("display", "none");
            }
        })
    </script>
</body>
</html>
