@model IEnumerable<DAO.HeDaoTao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Hệ đào tạo</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
    </tr>
}

</table>
