@model List<QuanLyDaoTao_TTTN.Models.LopTinChiModel>
@{
    ViewBag.Title = "Đăng ký môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .title-dk {
        text-align: center;
    }

    .row-title {
        border: 1px solid;
    }
</style>
<div class="container">
    <div class="row row-title">
        <h1 class="modal-title title-dk">ĐĂNG KÝ MÔN HỌC</h1>
    </div>
    <div class="row">
        <h3>Danh sách các môn được mở :</h3>
    </div>
    <div class="row">

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Mã môn học</th>
                    <th scope="col">Tên môn học</th>
                    <th scope="col">Mã giảng viên</th>
                    <th scope="col">Số tín chỉ lý thuyết</th>
                    <th scope="col">Số tín chỉ thực hành</th>
                    <th scope="col">Tổng số tín chỉ</th>
                    <th scope="col">Chọn</th>
                </tr>
            </thead>
            <tbody id="chon">
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.MaMonHoc</th>
                        <td>@item.MonHoc.TenMH</td>
                        <td>@item.MaGV</td>
                        <td id="tinchi-lt">@item.MonHoc.SoTinChiLyThuyet</td>
                        <td id="tinchi-th">@item.MonHoc.SoTinChiThucHanh</td>

                        <td id="tong-tinchi">@item.TongSoTinChi</td>

                        <td><input type="checkbox" data-maloptc=@item.MaLopTC onchange="loadData(this)" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3>Các môn đã đăng ký :</h3>
    </div>
    <div class="row">

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Mã môn học</th>
                    <th scope="col">Tên môn học</th>
                    <th scope="col">Mã giảng viên</th>
                    <th scope="col">Số tín chỉ lý thuyết</th>
                    <th scope="col">Số tín chỉ thực hành</th>
                    <th scope="col">Tổng số tín chỉ</th>
                    <th scope="col">Chọn</th>
                </tr>
            </thead>
            <tbody id="dangky"></tbody>
        </table>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success" onclick="luuDK()">Lưu đăng ký</button>
    </div>
</div>

<script>
    function luuDK() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LuuDangKy", "SinhVien")',
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        }).done(function (dt) {
            if (dt != null) {

                alert(dt.msg);
            }
        });
        return false;
    }

    $(document).ready(function () {
        var lt = $('#tinchi-lt').val();
        var th = $('#tinchi-th').val();
        var tong = lt + th;
        $('#tong-tinchi').val(tong);

    })
    function loadData(data) {
        if (data != null) {
            var maLTC = $(data).attr('data-maloptc');
            ltc = {
                maLopTC: maLTC
            };
            // Tích bỏ chọn đăng ký
            if (data.parentElement.parentElement.parentElement.id == "dangky") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteSelectMonHoc", "SinhVien")',
                    data: JSON.stringify(ltc),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8'
                }).done(function (dt) {
                    if (dt != null && dt.msg === "FALSE") {
                        alert(dt.msg);
                        return;
                    }
                });
            }
            //tích chọn đăng ký
            if (data.parentElement.parentElement.parentElement.id == "chon") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddMonHocDK", "SinhVien")',
                    data: JSON.stringify(ltc),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8'
                }).done(function (dt) {
                    if (dt != null) {
                        if (dt.msg == "OK") {
                            return;
                        }
                        else {
                            alert(dt.msg);
                        }
                    }
                });
            }
            if (data.checked) {
                $('#dangky').append(data.parentElement.parentElement);
            }
            else {
                $('#chon').append(data.parentElement.parentElement);
            }
            return false;
        }
    }
</script>