
@{
    ViewBag.Title = "Đăng ký môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .title-dk {
        text-align: center;
    }

    .row-title {
        border: 1px solid;
    }
</style>
<div class="container">
    <div class="row row-title">
        <h1 class="modal-title title-dk">ĐĂNG KÝ MÔN HỌC</h1>
    </div>
    <div class="row">
        <h3>Danh sách các môn được mở :</h3>
    </div>
    <div class="row">

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Mã môn học</th>
                    <th scope="col">Tên môn học</th>
                    <th scope="col">Mã giảng viên</th>
                    <th scope="col">Số tín chỉ lý thuyết</th>
                    <th scope="col">Số tín chỉ thực hành</th>
                    <th scope="col">Tổng số tín chỉ</th>
                    <th scope="col">Chọn</th>
                </tr>
            </thead>
            <tbody id="chon">
                @foreach (var item in ViewBag.ListLTC)
                {
                    <tr>
                        <th scope="row">@item.MaMonHoc</th>
                        <td>@item.MonHoc.TenMH</td>
                        <td>@item.MaGV</td>
                        <td id="tinchi-lt">@item.MonHoc.SoTinChiLyThuyet</td>
                        <td id="tinchi-th">@item.MonHoc.SoTinChiThucHanh</td>

                        <td id="tong-tinchi">
                            @{
                                var tongTC = item.MonHoc.SoTinChiLyThuyet + item.MonHoc.SoTinChiThucHanh;
                                @Html.Raw(tongTC);
                            }
                        </td>

                        <td><input type="checkbox" data-maloptc=@item.MaLopTC onchange="loadData(this)" /></td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3>Các môn đã đăng ký :</h3>
    </div>
    <div class="row">

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Mã môn học</th>
                    <th scope="col">Tên môn học</th>
                    <th scope="col">Mã giảng viên</th>
                    <th scope="col">Số tín chỉ lý thuyết</th>
                    <th scope="col">Số tín chỉ thực hành</th>
                    <th scope="col">Tổng số tín chỉ</th>
                    <th scope="col">Chọn</th>
                </tr>
            </thead>
            <tbody id="dangky"></tbody>

        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var lt = $('#tinchi-lt').val();
        var th = $('#tinchi-th').val();
        var tong = lt + th;
        $('#tong-tinchi').val(tong);

    })
    function loadData(data) {
        if (data != null) {
            var maLTC = $(data).attr('data-maloptc');
            if (data.checked) {
                $('#dangky').append(data.parentElement.parentElement);
                var maMh = data.parentElement.parentElement.children[0].lastChild.textContent;
                if (maMh !== "" && maLTC !==null) {
                    mh = {
                        maMonHoc: maMh,
                        maLopTC: maLTC
                    };
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddMonHocDK", "SinhVien")',
                        data: JSON.stringify(mh),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8'
                    }).done(function (data) {

                    }).fail(function (data) {

                    });
                    return false;
                }
            }
            else {
                $('#chon').append(data.parentElement.parentElement);

            }
        }

    }

</script>